@media screen and (max-width:767px){
  
    .container {
        width: 20%;
        height:100%;
       
      }
      .container ul {
        height: 100%;
        width: 30%;
       display: flex;
       flex-direction: column;
      }
  }
  